/* import frameworku Bootstrap: http://getbootstrap.com/ */
@import "../css_impot_scss/bootstrap.min.css";
@import "../css_impot_scss/bootstrap-responsive.min.css";

/* SCSS deklarace promennych */
$font-stack: Helvetica, sans-serif;
$primary-color: black;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
